.banner {
    &__head {
        padding: 2rem 0 2rem;
        margin: 0 0 2rem;
        height: calc(90vh - 72px);
        background: linear-gradient(90deg, rgba(0,0,0,.1) 1px, transparent 1px) 0 0, linear-gradient(rgba(0,0,0,.1) 1px, transparent 1px) 0 0;
        background-size: 1rem 1rem;
        background: repeating-linear-gradient(
            45deg,
            #d6d8e371,
            #e8e8e8a6 1rem,
          );
    }

    &__wrapper {
        @include container;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__content {
        flex: 1 1 0%;
        height: 100%;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        
        @media (max-width: 576px) {
            padding: 1.5rem 0.5rem;
        }

        @media (max-width: 767px) {}

        @media (max-width: 991px) {}

        @media (max-width: 1199px) {}

        @media (max-width: 1399px) {}
    }

    &__title {
        font-size: 3rem;
    }

    &__button {
        padding: .5rem 1rem;
        border-radius: 1rem;
        background-color: #F7C531;
        color: #272042;
        display: block;
        margin: 2.5rem 0 0;
        width: fit-content;
        
        button{
            cursor: pointer;
            background-color: unset;
            border: none;
        }
    }

    &__image-wrapper {
        flex: 1 1 0%;
        display: inline-flex;

        @media (max-width: 576px) {
            display: none;
        }

        @media (max-width: 767px) {}

        @media (max-width: 991px) {}

        @media (max-width: 1199px) {}

        @media (max-width: 1399px) {}
    }

    &__image {
        width: 100%;

        &--hightlight {
            width: auto;
            max-width: 100%;
            margin-left: 5rem;
        }

        &--card {
            width: 25%;
        }
    }

    &__description {
        display: flex;
        flex-wrap: wrap;
        padding: 2.5rem 0 0;
        max-width: 400px;
        color: #8B8BA5;
        font-size: 1.3rem;
        align-items: center;
        line-height: 2rem;
    }

    &__name {
        display: block;
        width: 100%;
    }
}
