.section {
    &__container {
        padding: 40px 20px;
        max-width: 1200px;
        margin: 0 auto;
    }

    &__subheader {
        font-size: 1.3rem;
        color: #8B8BA5;
        font-weight: 400;
        margin-bottom: 10px;
    }

    &__header {
        font-size: 2.5rem;
        font-weight: bold;
        color: #222;
        margin-bottom: 40px;
    }

    &__tabs {
        margin-bottom: 30px;
    }

    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.7rem;
    }
}

.tab {

    &__button {
        font-size: 1.3rem;
        color: #333;
        background-color: transparent;
        border: none;
        padding: 10px 20px;
        font-family: inherit;
        font-weight: 500;
        margin: 0 10px;
        cursor: pointer;
        transition: border-bottom 0.3s ease, color 0.3s ease;
        position: relative;
    }

    &__button:hover {
        color: #000;
    }

    &__button.active {
        color: #F7C531;
        border-bottom: 2px solid transparent !important;

        &:after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 90%;
            background-color: #F7C531;
        }
    }
}

.card {
    width: calc(25% - 1.7rem);
    background-color: #f9f9f9;
    text-align: center;
    transition: transform 0.3s ease;
    margin-bottom: 30px;

    &:hover {
        transform: scale(1.05);
    }

    &__title {
        font-size: 1.4rem;
        color: #333;
        margin: 10px 0;
    }

    &__image {
        width: 100%;
    }

    &__description {
        font-size: 1rem;
        color: #777;
        margin-bottom: 15px;
    }

    &__rating {
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    &__rating svg {
        transition: color 0.2s;
    }

    &__rating svg:hover {
        color: #ffcc00 !important;
    }
}
