.testimonial {
    // background: linear-gradient(90deg, rgba(0, 0, 0, .1) 1px, transparent 1px) 0 0, linear-gradient(rgba(0, 0, 0, .1) 1px, transparent 1px) 0 0;
    // background-size: 1rem 1rem;
    // background: linear-gradient(135deg, rgb(254, 253, 231), rgb(254, 253, 206), transparent 50%);

    &__container {
        border-radius: 12px;
        padding: 5rem 2rem;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        position: relative;
    }

    &__quote {
        position: relative;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 2rem;
        color: #333;
        line-height: 1.6;
        margin: 20px 0;
        padding: 0 20px;
        z-index: 1;

        @media (max-width: 576px) {
            font-size: 1.2rem;
        }

        @media (max-width: 767px) {}

        @media (max-width: 991px) {}

        @media (max-width: 1199px) {}

        @media (max-width: 1399px) {}
    }

    &__author {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.3rem;
    }

}

.quote {
    &__icon {
        font-size: 50px;
        color: #e0e0e0;
        position: absolute;
        top: -1rem;
        left: -2rem;
        width: 137px;
        z-index: -1;
    }
}

.author {
    &__image {
        width: 90px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid #ddd;
    }

    &__info {
        text-align: center;
    }

    &__name {
        font-size: 1.2rem;
        color: #272042;
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__role {
        font-size: 0.9rem;
        color: #777;
    }
}